**/.vagrant
config/ghostty/fonts/_current
config/ghostty/themes/_current
config/kitty/current-theme.conf
config/kitty/fonts/_current.conf
config/kitty/untracked.conf
config/nvim/spell/*.spl
tags
tags-*
