[user]
	name = Timothy Reen
	email = reentim@gmail.com
[core]
	editor = vim
	excludesfile = "~/.gitignore-global"
[color]
	ui = auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
	l = "!bash ~/.githelpers"
	graph = log --graph --pretty=format:\"%Cblue%h%Cgreen %an%Creset: %s\"
	st = status
	ci = commit
	cim = commit -m 
	co = checkout
	di = diff
	ds = diff --staged
	aa = add --all
	ff = merge --ff-only
