bin/monotonic-clock
bin/asdf
config/kitty/current-theme.conf
config/kitty/theme.conf*
config/kitty/font.conf
config/nvim.chad/lazy-lock.json
config/nvim.reentim/lazy-lock.json
config/nvim.reentim/after/ftplugin
config/nvim
tags
tags-*
tmux/colors/theme.conf
tmux/resurrect
vim/.netrwhist
