snippet t "t" w
%table
	%tr
		%th
			${1:headers}
	%tr
		%td
			${2:headers}
endsnippet

snippet ul "ul" w
%ul
	%li
		${1:item}
	%li
endsnippet

snippet =rp "=rp" w
= render :partial => '${1:partial}'
endsnippet

snippet =rpl "=rpl" w
= render :partial => '${1:partial}', :locals => {}
endsnippet

snippet =rpc "=rpc" w
= render :partial => '${1:partial}', :collection => @$1
endsnippet


