# rst
snippet : ":" w
:${1:field name}: ${2:field body}
endsnippet

snippet * "*" w
*${1:Emphasis}*
endsnippet

snippet ** "**" w
**${1:Strong emphasis}**
endsnippet

snippet _ "_" w
\`!v ${1:hyperlink-name}\`_
.. _\`!v $1\`: ${2:link-block}
endsnippet

snippet = "=" w
${1:Title}
=====${2:=}
${3}
endsnippet

snippet - "-" w
${1:Title}
-----${2:-}
${3}
endsnippet

snippet cont: "cont:" w
.. contents::
endsnippet


