# snippets for making snippets :)
snippet snip "snip" w
snippet ${1:trigger} w
	${2}
endsnippet

snippet msnip "msnip" w
snippet ${1:trigger} ${2:description} w
	${3}
endsnippet

snippet v "v" w
{VISUAL}
endsnippet


